{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}